body {
    margin: 0;
    padding: 0;
    font-family: 'Yu Mincho';
}

.headerTitle {
    width: 1000px;
    margin:50px auto;
}

.headerTitle h1 {
    margin: 0;
}

.headerTitle p {
    margin: 0;
    padding-left: 20px;
}

main {
    width: 800px;
    margin: auto;
}

main p {
    padding-left: 20px;
    font-size: 20px;
}

main img {
    padding-top: 50px;
}

.mainContent4_Content img {
    padding: 0 0 0 30px;
}